@media (max-width: 720px) {
  body {
    height: 1000px;
  }
  .faixa {
    min-height: 0;
    height: auto;
    max-height: 1000px;
    margin-top: 50px;
    background: rgba(0,0,0,0.8);
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    min-width: 200px;
    width: 86%;
    max-width: 360px;
    border-radius: 4px;
    box-shadow: 0 0 4px #212121;
  }
  .send {
    background: #30acff;
    font-weight: bold;
  }
}