@font-face {
  font-family: AdamM;
  src: url(../Fontes/Adam-Medium.ttf);
}

@font-face {
  font-family: AdamB;
  src: url(../Fontes/Adam-Bold.ttf);
}
* {
  padding : 0;
  margin : 0;
  font-family: AdamM;
}

body {
  background: url("FND.jpg") no-repeat;
  background-size: cover;
}

.faixa {
  height: 100%;
  width: 400px;
  background: #212121;
  padding-top: 10%;
}

.faixa h1 {
  color: white;
  text-align: center;
  margin-bottom: 40px;
  font-family: AdamB;
}

.textbox {
  width: 70%;
  height: 35px;
  border-radius: 100px;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  outline: none;
  margin-top: 10px;
  padding-left: 1rem;
  background: #292929;
  color: white;
}

.send {
  border: 2px solid #30acff;
  border-radius: 100px;
  padding: 0.6rem;
  background: none;
  color: white;
  cursor: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 15px;
  outline: none;
  margin-bottom: 30px;
  font-family: AdamB;
}

.link {
  color: white;
  cursor:  none;
  display: block;
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.link:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.send:hover {
  width: 65%;
  transition: 0.4s;
}

.textbox:hover {
  border: 2px solid #30acff;
  transition: 0.2s;
}

.btn {
  height: 50px;
  width: 50px;
  background: #292929;
  color: white;
  border-radius: 100px;
  border: none;
  margin-right: 10px;
  outline: none;
}

.middle {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 60px;
}

.btn:hover i {
  transform: scale(1.5);
  transition: 0.3s;
}